/* The heart of the matter */
.btn-matrix > .btn:nth-child(5n+5+1) {
    clear: left;
    margin-left: 0;
}

.btn-matrix > .btn:nth-child(n+5+1) {
    margin-top: -1px;
}

.btn-matrix > .btn:first-child {
    border-bottom-left-radius: 0;
}

.btn-matrix > .btn:nth-child(5) {
    border-top-right-radius: 4px !important;
}

.btn-matrix > .btn:nth-last-child(5) {
    border-bottom-left-radius: 4px !important;
}

.btn-matrix > .btn:last-child {
    border-top-right-radius: 0;
}

/* Decorations */
.btn-matrix {
    margin: 20px;
}

.btn-matrix {
    flex-wrap: wrap;
}